@import '../../styles/variables';

.content {
  .content-header {
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 150%;
      color: $gray-700;
    }
  }
}

.incident-info {
  .severity-badge {
    height: 40px;
    width: 76px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  }

  .severity-badge-text {
    color: $white;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    margin-left: 0.75rem;
  }

  .impact-badge {
    margin-left: 1.25rem;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
  }

  .incident-details {
    height: 117px;
    border-bottom: 1px solid $gray-400;
  }

  .incident-info-name {
    margin-left: 1.25rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: $gray-900;
  }

  .view-badge {
    border: 2px solid $gray-400;
    border-radius: 7px;
    height: 17px;
    width: 78px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: $gray-600;
    margin-top: 3rem;
  }

  .view-badge-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: $gray-600;
  }

  .bottom-row {
    margin-top: 1.25rem;
  }

  .incident-status-badge {
    display: inline-flex;
    align-items: center;
    padding-left: 0.75rem;
    color: white;
    height: 27px;
    width: 115px;
    border-radius: 999px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-top: 2.75rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
  }

  .owner-icon {
    margin-left: 1.25rem;
  }

  .owner-text {
    margin-left: 0.25rem;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }

  .owner-more-icon {
    background-color: $gray-900;
    border-radius: 999px;
    height: 21px;
    width: 21px;
    margin-left: 1rem;
  }

  .owner-more-icon-text {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
  }

  .incident-delete-button {
    height: 25px;

    button {
      color: white;
      background-color: $red-600;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      box-shadow: 0px 2px $gray-700;
    }
  }

  .incident-edit-button {
    height: 25px;

    button {
      color: white;
      background-color: $teal-600;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      box-shadow: 0px 2px $gray-700;
      width: 76px;
    }
  }

  .affected-service-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20px;
    width: 85px;
    border-radius: 999px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-left: 1.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .affected-service-badge-text {
      max-width: 75%;
    }
  }

  .tooltiptext {
    visibility: hidden;
    background-color: $gray-600;
    font-style: italic;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 10;

    margin-left: -1rem;
  }

  .tooltipTest:hover .tooltiptext {
    visibility: visible;
  }
}

.incident-description {
  margin-top: 1.25rem;

  .incident-description-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $gray-900;
  }

  .incident-description-body {
    margin-top: 1rem;
    color: $gray-700;
  }
}
