@import '../../styles/variables';

.incident-timeline {
  margin-top: 1.25rem;

  .incident-timeline-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: $gray-900;
    margin-bottom: 1rem;
  }

  .incident-note-form {
    &::placeholder {
      color: $gray-500;
    }
  }
}
